*{
	margin: 0px;
	padding: 0px;

}

li{
	color:#70a9a5;
	font-size: 11px;
	font-family: InterstateBlack,Arial,Tahoma,sans-serif;
	text-transform: uppercase;
}
p{
	color: white;
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
	}

#main{
	height: 100vh;
	width: 100vw;
	background-color: black;
	background: url("images/banner-cravingsmenu.gif") no-repeat, repeating-linear-gradient(to bottom, #000000 28% , #4c7f7b, #000000 );
	background-position: center center;

}
#top{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 11%;
}
#top p{
	margin: auto;
	position: absolute;
}
#top ul{
	align-items: center;
	list-style-type: none; 
	display: flex;
	justify-content: center;
	width: inherit;
	flex-direction: column;
}
#middle{
	display: flex;
	height: 72%;
	flex-direction: column;
	align-items: center;
}
#middle ul{
	list-style-type: none;
	padding-bottom: 3.5em;
}
.rows{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
#end{
	width: 98%;
	height: 14%;
	margin: auto;
}
#end ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	width: 100%;
	justify-content: space-between;
}
#end li{
	padding-right: 
}
#social{
	display: flex;
	position: absolute;
	justify-content: space-around;
	width: 200px;
	right: 0px;
	top:20px;
}
.smallIcon{
	height: 30px;
	width:30px;
}
.buttonLink{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
#mainButton{
	background-color: transparent; 
	color: white; 
	border: 4px solid #4c7f7b; 
	border-radius: 1px;
	width: 40%;
	height: 55%;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#middle{
		height: 80%;
	}
	#middle ul {
		padding-bottom: 5%;
	}
	#end{
	height:9%;
	}
	#end ul{
		height: 50%;
	}
	.buttonLink{
		height: 50%;
		align-items: flex-end;
	}
	#mainButton{
		height: unset;
		margin-bottom: 5px;
		border: 3px solid #4c7f7b;
	}
	#mainButton h1{
			font-size: 1.5em;
	}
}



@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	li{
		font-size: 12px;
	}
	#top{
		height: 25%;
	}
	#top ul{
		justify-content: flex-end;
		margin-bottom: 80px;
	}
	#middle{
		height: 49%;
	}
	#middle ul{
		height: 13%;
		padding-bottom: unset;
	}
	#end{
		height: 25%;
	}
	#end ul{
		height: 26%;
	}
	.buttonLink{
		align-items: flex-start;
		height: 60%;
	}
	#mainButton{
		height: 45%;
		width: 50%;
	}
	#mainButton h1{
		font-size:2.5em;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	li{
		font-size: 12px;
	}
	#top{
		height: 25%;
	}
	#top ul{
		justify-content: flex-end;
		margin-bottom: 80px;
	}
	#middle{
		height: 49%;
	}
	#middle ul{
		height: 13%;
		padding-bottom: unset;
	}
	#end{
		height: 26%;
	}
	#end ul{
		height: 30%;
	}
	.buttonLink{
		align-items: flex-start;
		height: 60%;
	}
}





